html {
    box-sizing: border-box;
    font-family: "Arial Rounded MT Bold","Helvetica Rounded",Arial,sans-serif
}

  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    margin: 0; 
    font-family: sans-serif;
    background-image: -webkit-linear-gradient(left, #69B62F, #DE3375), url(https://lh3.googleusercontent.com/2uk8SEzubOGbOCtR7dyB64UA5ZfQ3px1TQkOwOwprZw_dSjyMThXxg-SMrUO9R2t0uH5vGBgebiCq_H5LGZdovwYwe-umnCUjxMtQYxf3si1VDwVaU-W54tL7yx6Ed_DQMmitVOacQjz1Mw6BwK6F_c9gUNjX8rf4pXFo4SqKbx2sgN_bIPhItOvedtj5H2iD4yozMBNhoXQJO6-qKrlb_no4OYO5HWS8OaRWg35ZlTJ_53rvPFNATjfuCQhb3oSU-XGCbboDmdMB0eG4Ah3fTiXhIGKWlsC4VQoMTPiarvpWBL3ohdDTsB0TqJcmz8jt9AJjZS6BzSOexqtHdII8tCOKPTrs9ZkXMN4AiNB0LWPe9DbM3pQwfuro7oxo1zS5YHjyByDybnJQf_Ns3gFDVOJXjDKa6W7EF0eoI4Pv5oO52KugY0vMDzEsHlXOW72PiEAUp6kiqX5bhCfe_hsUbS0b1rg21krKzObJrh3qTVvkm_XAGGHbQy8VkA52IpfDloQ1Uwywssf3dUoPLekNAz5Dmjqhl64IGZjo_QphcRNm2uz3S_HFC-eJFEZl6oZ8vbG8S0py4_tqEVVR88_f0RnefP4jC1hvdfJskAhwzsysgEHKyLEEgri96TaPDWvlzjnrZAuODvtXYweG-8-heOIDJnkONQ1e5Y6wrt5pnqGA1H94yI_6iQmrMoy=w532-h943-no?authuser=0);
    background-image: linear-gradient(to right, #69B62F, #DE3375), url(https://lh3.googleusercontent.com/2uk8SEzubOGbOCtR7dyB64UA5ZfQ3px1TQkOwOwprZw_dSjyMThXxg-SMrUO9R2t0uH5vGBgebiCq_H5LGZdovwYwe-umnCUjxMtQYxf3si1VDwVaU-W54tL7yx6Ed_DQMmitVOacQjz1Mw6BwK6F_c9gUNjX8rf4pXFo4SqKbx2sgN_bIPhItOvedtj5H2iD4yozMBNhoXQJO6-qKrlb_no4OYO5HWS8OaRWg35ZlTJ_53rvPFNATjfuCQhb3oSU-XGCbboDmdMB0eG4Ah3fTiXhIGKWlsC4VQoMTPiarvpWBL3ohdDTsB0TqJcmz8jt9AJjZS6BzSOexqtHdII8tCOKPTrs9ZkXMN4AiNB0LWPe9DbM3pQwfuro7oxo1zS5YHjyByDybnJQf_Ns3gFDVOJXjDKa6W7EF0eoI4Pv5oO52KugY0vMDzEsHlXOW72PiEAUp6kiqX5bhCfe_hsUbS0b1rg21krKzObJrh3qTVvkm_XAGGHbQy8VkA52IpfDloQ1Uwywssf3dUoPLekNAz5Dmjqhl64IGZjo_QphcRNm2uz3S_HFC-eJFEZl6oZ8vbG8S0py4_tqEVVR88_f0RnefP4jC1hvdfJskAhwzsysgEHKyLEEgri96TaPDWvlzjnrZAuODvtXYweG-8-heOIDJnkONQ1e5Y6wrt5pnqGA1H94yI_6iQmrMoy=w532-h943-no?authuser=0);
    background-size: center;
    background-size: 100% 100%;
    background-blend-mode: overlay;           
}

nav {
    position: relative;
    perspective: 600px;
}

.cool > li > a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    background: rgba(0,0,0,0.2);
    padding:10px 20px;
    display: inline-block;
    margin:20px;
    border-radius:5px;
}

.cool > li > a:hover {
    color:#EEb6b7;
  }

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.cool > li {
    position: relative;
    display:flex;
    justify-content: center;
}

.dropdown {
    opacity: 0;
    position: absolute;
    overflow: hidden;
    padding:20px;
    top:-20px;
    border-radius:2px;
    transition: all 0.5s;
    transform: translateY(100px);
    will-change: opacity;
    display: none;
}

.trigger-enter .dropdown {
    display: block;
}

.trigger-enter-active .dropdown {
    opacity: 1;
}

.dropdownBackground {
    width:100px;
    height:100px;
    position: absolute;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1);
    transition:all 0.3s, opacity 0.1s, transform 0.2s;
    transform-origin: 50% 0;
    display: flex;
    justify-content: center;
    opacity:0;
}

.dropdownBackground.open {
    opacity: 1;
}

.arrow {
    position: absolute;
    width:20px;
    height:20px;
    display: block;
    background:white;
    transform: translateY(-50%) rotate(45deg);
}

.bio {
    min-width:500px;
    display:flex;
    justify-content: center;
    align-items: center;
    line-height: 1.7;
}

.code li {
    padding: 10px 0;
    display: block;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.dropdown a {
    text-decoration: none;
    color: #ffc600;
}

a.button {
    background:black;
    display: block;
    padding:10px;
    color:white;
    margin-bottom: 10px;
}

.button[href*=youtube] { background: red; }
.button[href*=linkedin] { background: #3B5998; }